body {
	[id^=post-] {
		.entry-header{
			&.alignwide{
				margin: 0;
				padding: 2vw 2vw;
				width: 100%;
				max-width: 100%;
				.st-webinar-breadcrumb{
					display: flex;
					flex-direction: row;
					align-items: baseline;
					column-gap: 0.5vw;
					margin: 0;
					padding: 0 2vw;
					border-top: 5px solid #D9D9D9;
					border-bottom: 5px solid #D9D9D9;
					background-color: #F5F5F5;
					color: #21689D;
					height: fit-content;
					a {
						text-decoration: none;
						padding: 1vw 0;
						color: #21689D;
					}
					span {
						color: #525252;
						padding: 1vw 0;
						border-bottom: 3px solid #21689D;
					}
				}
				.st-webinar-singlepage-title {
					display: flex;
					align-items: center;
					column-gap: 10vw;
					padding: 2vw 0;
					.st-start-date-container {
						display: flex;
						flex-direction: column;
						align-items: center;
						aspect-ratio: 1 / 1;
						height: 11rem;
						width: auto;
						border-radius: 50%;
						box-sizing: border-box;
						line-height: normal;
						justify-content: center;
						background-color: #E3EFF9;
						color: #21689D;
						.st-day{
							font-size: 6rem;
							font-weight: 600;
						}
						.st-month{
							font-size: 2rem;
							color: #4B93CA;
						}
					}
				}
				.post-thumbnail {
					.st-webinar-banner{
						width: 100%;
					}
				}
			}
		}
		.entry-content {
			#st-program-info-container {
				margin: 0;
				max-width: 100%;
				padding: 0 2vw;
				display: flex;
				justify-content: start;
				column-gap: 10vw;
				.st-day-container,
				.st-schedule-container,
				.st-duration-container {
					display: flex;
					column-gap: 2vw;
					text-wrap: nowrap;
					.st-icon-container{
						display: flex;
						align-items: center;
						justify-content: center;
						background-color: #E3EFF9;
						border-radius: 50%;
						height: 100%;
						width: auto;
						aspect-ratio: 1 / 1;
						padding: 1.5vw;
						.bi-hourglass-split,
						.bi-clock,
						.bi-calendar {
							width: auto;
							aspect-ratio: 1 / 1;
							height: 3rem;
						}
					}
					.text-container {
						display: flex;
						flex-direction: column;
						// Target the second child using the nth-child selector with 2n+1 syntax
						& > *:nth-child(2) {
							font-weight: bold;
						}
						& > *:nth-child(1) {
							color: #525252;
						}
					}
				}
			}
			#st-post-thumbnail {
				margin: 0;
				max-width: 100%;
				padding: 2vw 2vw;
				img{
					width: 100%;
				}
			}
			#wp-block-st-webinar-management-webinar{
				margin: 0;
				max-width: 100%;
				padding: 2vw 2vw;
			}
		}
		.st-highlight-content {
			padding: 2vw 2vw;
			.st-highlight{
				display: flex;
				column-gap: 2vw;
				padding: 2vw 2vw;
				margin: 2vw 2vw;
				border: 3px solid #D9D9D9;
				border-left: 5px solid #287EBF;
				background-color: #ffffff;
				.st-highlight-time{
					background-color: #E3EFF9;
					color: #21689D;
					font-weight: 500;
				}
				.st-highlight-description{
					font-weight: 500;
					color: #292929;
				}

			}
		}
		.st-speakers-container{
			padding: 2vw 2vw;
			.st-speaker-grid-container{
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				padding: 0 2vw;
				gap: 3vw;
				width: 100%;
				box-sizing: border-box;
				.st-speaker-card {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					text-align: center;
					background-color: #ffffff;
					border-radius: 10px;
					.st-speaker-image {
						width: 40%;
						border-radius: 50%;
						margin-top: 2vw;
					}
					p {
						.st-speaker-name {
							font-size: 1.5em;
							font-weight: 700;
							color: #03615A
						}
						.st-speaker-details {
							font-family: sans-serif;
							font-weight: 400;
							font-size: 1em;
							padding: 0.5vw;
						}
						@media screen and (max-width: 428px) {

							.st-speaker-details {
								padding: 0 2vw
							}
						}
					}
				}
				@media only screen and (max-width: 428px) {
					.st-speaker-card {
						width: 100%;
					}
				}
			}
			@media only screen and (max-width: 820px) {
				.st-speaker-grid-container {
				  grid-template-columns: repeat(2, 1fr);
				  gap: 4vw;
				}
			}

			@media only screen and (max-width: 428px) {
				.st-speaker-grid-container {
				  grid-template-columns: repeat(1, 1fr);
				  gap: 2.5vw;
				  padding: 0;
				  justify-items: center;
				  text-align: center;
				  width: 100%;
				}
			}
		}

		.st-webinar-section-header {
			display: flex;
			flex-direction: column;
			width: 100%;
			margin-bottom: 3vw;
			.st-color-bar-h2 {
				width: 10vw;
				height: 3px;
				background: #21689D;
			}
		}
	}
}



.webinar-block-editor {
	/* Styles for the block editor wrapper */
	width: 80%;
    margin: auto;
	.webinar-date-time-duration-container {
		display: flex;
		flex-direction: column;
		position: relative;
		.webinar-label {
			font-size: 11px;
			font-weight: 500;
			line-height: 1.4;
			text-transform: uppercase;
			display: inline-block;
			margin-bottom: calc(8px);
			padding: 0px;
		}
		.webinar-date-time-picker {
			position: absolute; /* Position the picker absolutely */
			top: calc(100% + 5px); /* Position below the input field */
			left: 0;
			background-color: #fff; /* Set background color */
			box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Add a slight shadow */
			padding: 10px; /* Add some padding */
			z-index: 10; /* Ensure the picker has higher stacking order */
			/* display: none;  *//* Initially hide the picker */
		}
	}





	.webinar-block-editor input[type="text"] {
		/* Style the input field */
		cursor: pointer; /* Set cursor to pointer on hover */
	}

	.webinar-block-editor .webinar-date-time-picker.active {
		/* Show the picker when the state is open */
		display: block;
	}

	.duration-picker-modal {
		position: absolute; /* Position the picker absolutely */
		top: calc(100% + 5px); /* Position below the input field */
		left: 0;
		padding: 10px; /* Add some padding */
		background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
		justify-content: center;
		align-items: center;
		z-index: 100; /* Ensure modal has higher stacking context */
		display: none;
		transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out; /* Add smooth transition */

		&.active {
			display: flex; /* Center the content horizontally */
		}
		.react-duration-picker__container {
			/* Style the duration picker component itself */
			/* You can customize styles here based on react-duration-picker documentation */
		}
		.rdp-picker {
			.rdp-column-container {
				.rdp-masked-div {
					.rdp-text-overlay{
						div {
							display: flex;
						}
					}
				}
			}
			.rdp-column-container:nth-child(3) {
				display: none;
			}
		}
	}

	.wp-block-st-webinar-management-webinar	{
		margin: 0;
	}

	.field-header {
		font-size: 11px;
		font-weight: 500;
		line-height: 1.4;
		text-transform: uppercase;
		display: inline-block;
		margin-bottom: calc(8px);
		padding: 0px;
	}

}