.webinar-block-editor {
	/* Styles for the block editor wrapper */

	.webinar-date-time-picker {
		position: absolute; /* Position the picker absolutely */
		top: calc(100% + 5px); /* Position below the input field */
		left: 0;
		background-color: #fff; /* Set background color */
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Add a slight shadow */
		padding: 10px; /* Add some padding */
		z-index: 10; /* Ensure the picker has higher stacking order */
		/* display: none;  *//* Initially hide the picker */
	}

	.webinar-block-editor input[type="text"] {
		/* Style the input field */
		cursor: pointer; /* Set cursor to pointer on hover */
	}

	.webinar-block-editor .webinar-date-time-picker.active {
		/* Show the picker when the state is open */
		display: block;
	}

	.duration-picker-modal {
		position: absolute; /* Position the picker absolutely */
		top: calc(100% + 5px); /* Position below the input field */
		left: 0;
		padding: 10px; /* Add some padding */
		/* display: none;  *//* Initially hide the picker */
		background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
		display: flex; /* Center the content horizontally */
		justify-content: center;
		align-items: center;
		z-index: 100; /* Ensure modal has higher stacking context */
		/* opacity: 0;  *//* Initially hidden */
		/*visibility: hidden;*/ /* Initially hidden */
		transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out; /* Add smooth transition */
	  }

	  .duration-picker-modal.active {
		opacity: 1; /* Modal becomes visible */
		visibility: visible; /* Modal becomes visible */
	  }

	  .duration-picker-modal .react-duration-picker__container {
		/* Style the duration picker component itself */
		/* You can customize styles here based on react-duration-picker documentation */
	  }

}